.nav-link
{
 
font-size: 20px;

} 
/* .image-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
} */
 .image-preview{
  



    width: 200px;
  height: 132px;
   position: relative;
   overflow: hidden; 
  background-color: #2b2626;
  /* display: inline-block; */
   color: #ecf0f1; 
  /* object-fit: scale-down; */
  /* object-fit: cover;
  object-position: 100% 0;
  /* height: 100%;
  width: 100%; */ 
} 


